<section class="data-grid">
  <div class="grid-container">
    <div class="grid-box">
       <h2>Assay and instrument</h2>
       <p>{{ include.assay_instrument | markdownify }}</p>
     </div>
     <div class="grid-box">
       <h2>About the samples</h2>
       <p>{{ include.samples | markdownify }}</p>
     </div>
     <div class="grid-box">
       <h2>Data Access</h2>
       <p>{{ include.data_access | markdownify }}</p>
     </div>
     <div class="grid-box">
       <h2>Data Visualization</h2>
       <p>{{ include.data_visualization | markdownify }}</p>
     </div>
     <div class="grid-box">
       <h2>Protocol</h2>
       <p>{{ include.protocol | markdownify }}</p>
     </div>
     <div class="grid-box">
       <h2>About the data generators</h2>
       <p>{{ include.data_generators | markdownify }}</p>
     </div>
  </div>
  </section>
  <style>
    .grid-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr); /* 3 columns (customize as needed) */
      gap: 20px;
      max-width: 1200px;
      margin: 0 auto;
    }
    .grid-box {
      border: 2px solid #ccc;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 8px #eee;
    }
    .grid-box h2 {
      margin-top: 0;
      .grid-box h2 {
        margin-top: 0;
      }
  </style>
