<footer class="site-footer">
    <div class="site-footer__funding">
        <div class="site-footer__content-container">
          This work is supported by the Gray Foundation.
        </div>
    </div>
    <div class="site-footer__main">
        <ul class="site-footer__logo-list">
            <li class="site-footer__logo-item">
                <a href="https://hits.harvard.edu/the-program/laboratory-of-systems-pharmacology/about/" target="_blank"><img src="{{ '/assets/img/logo-lsp.svg' | relative_url }}" alt="Laboratory of Systems Pharmacology"></a>
            </li>
            <li class="site-footer__logo-item">
                <a href="https://grayfoundation.org/" target="_blank"><img srcset="{{ '/assets/img/logo-gray_white.png' | relative_url }}, 
                {{ '/assets/img/logo-gray_white@2x.png' | relative_url }} 2x"
                src="{{ '/assets/img/logo-gray_white.png' | relative_url }}" 
                alt="Gray Foundation">
            </li>
            <li class="site-footer__logo-item">
                <a href="https://sagebionetworks.org/" target="_blank"><img src="{{ '/assets/img/logo-sage-bionetworks-logo_white.svg' | relative_url }}" alt="Sage Bionetworks"></a>
            </li>
            <li class="site-footer__logo-item">
                <div class="site-footer__logo-item-inner-wrap">
                    <a href="https://www.tissue-atlas.org/" target="_blank"><img srcset="{{ '/assets/img/logo-hta_white.png' | relative_url }}, {{ '/assets/img/logo-hta_white@2x.png' | relative_url }} 2x" src="{{ '/assets/img/logo-hta_white.png' | relative_url }}" alt="Harvard Tissue Atlas"></a>
                    <span>This project is part of the Harvard Tissue Atlas.</span>
                </div>
                
            </li>
        </ul>
    </div>
    <div class="site-footer__legal">
        <div class="site-footer__content-container"><a href="https://accessibility.huit.harvard.edu/digital-accessibility-policy" target="_blank">Accessibility Policy</a></div>
    </div>
</footer>
