---
layout: default
---

<section class="hero">
    <div class="hero__container">
        <div class="hero__image">
            <div class="hero__image-slides carousel" data-slick='{"slidesToShow": 1, "autoplay": true, "autoplaySpeed": 5000, "speed": 1000, "fade": true, "pauseOnHover": false}'>
                {% for image in page.hero_images %}
                    <div>
                        <picture>
                        <source srcset="{{ site.imgbaseurl | append: image }}?w=1920&h=740&fit=crop&q=85" media="(min-width: 1800px)">
                        <source srcset="{{ site.imgbaseurl | append: image }}?w=1800&h=540&fit=crop&q=85" media="(min-width: 1200px)">
                        <source srcset="{{ site.imgbaseurl | append: image }}?w=1200&h=520&fit=crop&q=85" media="(min-width: 768px)">
                        <img src="{{ site.imgbaseurl | append: image }}?w=768&h=480&fit=crop&q=85" alt="">
                        </picture>
                    </div>
                {% endfor %}
            </div>

            <div class="hero__text-container">
                <div class="hero__text">

                    <h1>{{ page['hero text'] }}</h1>

                </div>
            </div>
        </div>
    </div>
</section>



<div class="secondary">
    <div class="secondary__content-wrap {% if page.wide_container %}secondary__content-wrap--wide{% else %}secondary__content-wrap--standard{% endif %}">

        <div class="body-text-sm">{{ content }}</div>

        {% assign cards = site.data.announcements.publications_software %}
        {% assign cta_url = 'publications' | relative_url %}
        {% assign cta_label = 'View all publications' %}
        {% assign cta_url2 = null %}
        {% assign cta_label2 = null %}

        {% include cards.html 
            heading='Publications' 
            cards=cards
            card-type='news-card'
            card-color='dark-blue'
            cta-url=cta_url
            cta-label=cta_label
            cta-url2=cta_url2
            cta-label2=cta_label2
            extra-margins=true
        %}


        {% assign cta_url = 'data' | relative_url %}
        {% assign cta_label = 'View all data' %}

        {% include cards.html 
            heading='Data' 
            featured=true
            cta-url=cta_url
            cta-label=cta_label
            extra-margins=true
        %}

    </div>
</div>


